.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.1);
  padding: 0.625rem 0;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the container */
  transition: all 0.3s ease;
}

.header.shrunk {
  padding: 0.3125rem 0;
  height: 3.125rem;
}

.header .container {
  width: 100%;
  max-width: 75rem; /* Limit the navbar content to 75rem */
  padding: 0 1.25rem; /* Add some padding for smaller screens */
  display: flex;
  align-items: center;
}

.logo {
  padding-right: 1.25rem;
  height: auto;
  display: inline-block;
  transition: width 0.3s ease;
}

.logo.shrunk {
  width: 5rem;
}

.title {
  color: var(--red-primary);
  font-size: 2rem;
  font-family: var(--font-berlin-type-regular), serif;
  cursor: pointer;
  transition: font-size 0.3s ease;
}

.title.shrunk {
  font-size: 1.5rem;
  margin-left: -0.3125rem;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  position: relative;
}

.menu-toggle {
  display: block;
  cursor: pointer;
  color: var(--red-primary);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-toggle.shrunk {
  transform: scale(0.8);
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 1001;
  transition: all 0.3s ease;
}

.menu.open {
  display: block;
}

.menu-item {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 5rem;
}

.menu-item:first-child {
  border-top: 1px solid #e3e3e3;
}

.menu-item li {
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
  width: 100%;
  border-bottom: 1px solid #e3e3e3;
}

.menu-item li a {
  text-decoration: none;
  color: black;
  padding: 1rem 0;
  width: 100%;
  transition: all 0.3s ease;
  padding-left: 1.25rem;
}

.menu-item li:nth-last-child(-n + 3) {
  font-size: 0.9rem;
  color: var(--red-primary);
  border-bottom: none;
}

.menu-item li:nth-last-child(-n + 3) a {
  border-bottom: none;
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
}

.menu-item li a:hover {
  color: var(--red-primary);
}

.closeButton {
  margin-top: calc(-1.25rem + 0.126rem);
  margin-left: 0.1rem;
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeButton svg {
  stroke: #e40422; /* Farbe */
  transition: transform 0.2s ease;
}

.closeButton:focus {
  outline: none; /* Entfernt den Standard-Fokus-Stil */
}

.header .logo,
.header .title {
  position: relative; /* Bleibt in der Navbar */
  z-index: 1050; /* Über dem Menü-Inhalt */
}

/* Styles for larger screens */
@media (min-width: 75rem) {
  .menu {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }

  .menu.open {
    display: flex;
  }

  .menu-item {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: auto;
  }

  .menu-item li {
    margin: auto;
    width: auto;
    display: inline-block;
  }

  .menu-item li a {
    font-size: 0.9rem;
    padding: 0 0.9rem;
    border-bottom: none;
    width: auto;
  }

  .menu-item li:last-child a {
    padding-right: 1.25rem;
  }

  .menu-item li a:hover {
    background-color: transparent;
    color: var(--red-primary);
  }

  .menu-toggle {
    display: none;
  }
}
