.pageMasterDiv {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2vh 2vh 5vh;
    font-family: var(--font-berlin-type-regular), serif;
}

.deinWeg {
    max-width: 75%;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    font-family: var(--font-berlin-type-bold), serif;
}

.zumNavigator {
    padding: 0.5rem;
    background-color: var(--red-primary);
    color: white;
    border-radius: 1.5rem;
    font-size: 1.2rem;
    width: 20%;
    font-family: var(--font-berlin-type-bold), serif;
}

.jobSection {
    display: flex;
    flex-direction: row;
}

.filterContainer {
    display: block;
    flex-shrink: 0;
    max-width: 25%;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    align-self: flex-start;
}

.mobileFilterButton {
    display: none;
    padding: 0.5rem; /* Equivalent to p-2 */
    justify-content: space-between; /* Equivalent to justify-between */
}

.mobileFilterContainer {
    display: none;
    background-color: white;
    padding: 1rem;
    border: 1px solid;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    margin-left: 50%;
}

.filterDropdown {
    padding: 0.5rem;
    margin-right: 0.5rem;
    display: block;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid black;
}

.resetButton {
    background-color: var(--red-primary);
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    color: white;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.jobsList {
    display: grid;
    gap: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    flex-grow: 1;
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.jobHoverInfo {
    position: absolute;
    inset: 0;
    background-color: white;
    opacity: 0;
    transition: opacity 300ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.jobHoverInfo:hover {
    opacity: 0.7;
}

.jobName {
    font-size: 1.6rem;
    font-family: var(--font-berlin-type-bold), serif;
    line-height: 1.75rem;
    font-weight: bold;
    text-align: left;
    margin-top: 1rem;
    overflow-wrap: break-word;
    word-break: break-all;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.jobImage {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
    cursor: pointer;
    align-self: center; /* centers the element when used in a flex container */
}

.startButton {
    position: absolute;
    bottom: 15px;
    transform: translateX(10%);
    background-color: var(--red-primary);
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 2rem;
    font-family: var(--font-berlin-type-bold), sans-serif;
    cursor: pointer;
}

.undecidedDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem;
}

.undecidedText {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 1rem;
    padding: 5px;
    font-family: var(--font-berlin-type-bold), sans-serif;
    border-radius: 5px;
}

.undecidedImage {
    border-radius: 2rem;
    filter: brightness(0.7);
    width: 100%;
    object-fit: cover;
    height: 200px;
}

@media (max-width: 767px) {

    .pageMasterDiv {
        padding: 0;
    }

    .zumNavigator {
        width: 100%;
    }

    .jobSection {
        flex-direction: column;
    }

    .filterContainer {
        display: none;
        width: 25%;
        border: 1px solid;
        border-radius: 0.5rem;
    }

    .mobileFilterContainer {
        display: block;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .jobsList {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .jobHoverInfo {
        display: none;
    }

    .jobName {
        font-size: 1.15rem;
    }

    .jobShortDesc {
        font-size: 0.9rem;
    }
}

/* Media query for smaller viewports (or when zoomed in) */
@media (max-width: 1200px) {
    .jobShortDesc {
        bottom: 1.2rem;
        font-size: 1rem;
    }

    .filterContainer {
        display: none;
        width: 25%; /* Equivalent to 1/4 */
        border: 1px solid; /* Adjust the border thickness and color as needed */
        border-radius: 0.5rem; /* Adjust the border-radius as needed */
    }

    .mobileFilterButton {
        display: flex;
    }

    .mobileFilterContainer {
        display: block;
    }

    .jobHoverInfo {
        display: none;
    }
}
