.intermediateImage,
.storyImage {
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.introImage{
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.label{
    font-size:6px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
    display: block;
    text-align: left;
}

.select {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 25px;
    background-color: #f9f9f9;
    color: #333;
    display: block;
    margin: 0 auto 20px;
}

/*Input for CM Question*/
.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.inputField {
    width: 80%;
    max-width: 300px;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 20px; /* Adds space specifically between input and buttons */
}

.inputField:focus {
    border-color: #E40422;
    outline: none;
    box-shadow: 0 0 5px rgba(228, 4, 34, 0.5);
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.customSvg {
    width: 250px;
    height: 300px; /* Match height to width */
    fill: #ED462F; /* Red color */
    display: block; /* Ensure the SVG aligns properly */
    margin: 0 auto; /* Center the SVG */
}

/* Image Options Container */

.imageOptionsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    margin: 20px 0;
}

.imageOption {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    height: 200px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 12px;
    background-color: #ffffff; /* Background color for contrast */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.imageOption:hover {
    transform: scale(1.03); /* Slight zoom effect on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
    border-color: #E40422;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.fitnessDropdownContainer {
    margin-bottom: 20px; /* Add margin between dropdowns */
    text-align: left; /* Align text to the left */
}

.fitnessLabel {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px; /* Space between label and dropdown */
    display: block;
    text-align: left;
}

.fitnessDropdown {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px; /* Sharper corners */
    background-color: #fff;
    color: #333;
    margin: 0 auto 20px; /* Centers dropdown and adds spacing below */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
    transition: box-shadow 0.2s, border-color 0.2s;
}

.fitnessDropdown:focus {
    border-color: #6c63ff; /* Purple border on focus */
    outline: none;
    box-shadow: 0 0 8px rgba(108, 99, 255, 0.5); /* Purple glow */
}

/* Slider Labels */
.sliderLabels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
}

/* Slider Input */
.slider {
    width: 100%;
    -webkit-appearance: none; /* Remove default styles */
    appearance: none;
    height: 10px;
    background: #ddd ;
    border-radius: 5px;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #E40422;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4caf50;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Slider Value Display */
.sliderValue {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.dropdownContainer {
    margin-bottom: 20px;
}

.dropdown:focus {
    border-color: #E40422;
    outline: none;
    box-shadow: 0 0 5px rgba(228, 4, 34, 0.5);
}

.dropdown {
    margin-top: 20px;
    margin-bottom: 30px;
}

.dropdown label {
    display: block;
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 650;
    color: #333;
}

/*timer*/
.timerDisplay {
  font-size: 3rem;
  font-weight: bold;
  color: #E40422;
  margin: 20px 0;
  text-align: center;
}
.timerButton {
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.timerButton.start {
    background-color: #4CAF50;
}

.timerButton.stop {
    background-color: #E40422;
}
.dropdown select {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ddd;
    border-radius: 50px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    box-sizing: border-box;
}

/*Id 8 quiz img*/
.staticImageContainer {
  text-align: center;
  margin-top: 20px;
}

.staticImageContainer img {
  width: 300px;
  height: auto;
  margin: 20px auto;
}

.resultContainer h2 {
  font-size: 1.5rem;
  color: #E40422;
  margin-bottom: 10px;
}

.resultContainer p {
  font-size: 1rem;
  margin: 0;
  color: #555;
}

.resultContainer .highlight {
  font-weight: bold;
  color: #E40422;
}

.introContainer,
.intermediateContainer,
.storyContainer {
    text-align: center;
    padding: 2rem;
        background-color: transparent; /* Ensure no background is applied */

}

.intermediateContainer div {
    text-align: left;
}

.introContainer h3,
.intermediateContainer h3,
.storyContainer h3 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

.introContainer p,
.storyContainer p {
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
}

.startButton,
.continueButton {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #E40422;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 2rem;
    width: 100%;
    max-width: 200px;
}

.startButton:hover,
.continueButton:hover {
    background-color: #E40422;
}

/* quiz.module.css */
.questionNumber {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    z-index: 10; /* Ensure it stays on top of other elements */
}

/* Progress text showing the current question number */
.progressText {
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
}

/* Progress bar container */
.progressBarContainer {
    width: 100%;
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Progress bar style */
.progressBar {
    height: 100%;
    background-color: #E40422;
    border-radius: 5px;
    margin-top: 30px;
}

.quizContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: #fff;
    min-height: 100vh;
}

.quizWrapper {
    width: 100%;
    max-width: 600px;
}

.quizTitle {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #222;
    margin-bottom: 15px;
}

.questionTitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #333;
}

.optionsContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.optionPrefix {
    font-weight: bold;
    font-size: 1.5em;
    margin-right: 8px;
}

.optionButton {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 15px;
    text-align: left;
    font-size: 16px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.optionButton:hover {
    background-color: #eee;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.optionButton:active {
    background-color: #ddd;
}

.selectedOption, .selectedImage {
    padding: 10px 15px;
    border: 2px solid #333333;
    color: #333333;
    font-weight: bold;
    animation: pulse 1.1s infinite;
}

@keyframes pulse {
    0% {
        border-color: #e3e3e3;
    }
    50% {
        border-color: #333333;
    }
    100% {
        border-color: #e3e3e3;
    }
}

.navButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.backButton, .nextButton {
    width: 48%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    background-color: #333333;
    text-align: center;
}

.nextButton {
    background-color: #E40422;
}

.backButton:hover, .nextButton:hover {
    background-color: #000000;
}

.backButton:disabled, .nextButton:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.scaleContainer {
    margin: 20px 0;
    text-align: center;
}

.scaleLabels {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 10px;
}

.scaleSlider {
    width: 100%;
    appearance: none;
    height: 8px;
    background: #ddd;
    outline: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.scaleSlider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: #E40422;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.scaleSlider::-webkit-slider-thumb:hover {
    background: #E40422;
}

.scaleValue {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.imageOptionsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin: 20px 0;
}

.imageOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-radius: 10%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imageOption:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 10px;
    border: 2px solid transparent;
}

.image:hover {
    border-color: #E40422;
}

.imageLabel {
    font-size: 14px;
    text-align: center;
    color: #333;
}

/* Result Screen Styles */
.resultsContainer {
    margin: 20px auto;
    width: 100%;
    max-width: 700px;
}

.resultsContainer h2 {
    font-size: 1.75rem;
    color: #333;
    margin-bottom: 1rem;
}

.resultsContainer p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.restartButton {
    margin-top: 20px;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #E40422;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    max-width: 200px;
    width: 100%;
}
.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.restartButton:hover {
    background-color: #E40422;
}
.centeredHeader {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;

}
.centeredText {
    text-align: center;
    font-size: 1rem;
    margin: 0.5rem;
}
.jobList {
    display: grid;
    gap: 2rem;
    flex-grow: 1;
    grid-template-columns: 1fr; /* Standard für mobile Ansicht */
}

.jobList.mdGrid {
    grid-template-columns: repeat(2, 1fr); /* Ab mittleren Bildschirmgrößen zwei Spalten */
}

.jobCard {
    display: flex;
    flex-direction: column; /* Vertikale Anordnung */
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.jobCard:hover {
    transform: scale(1.03); /* Leichter Zoom-Effekt beim Hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.jobImage {
    width: 100%;
    cursor: pointer;
    align-self: center; /* Zentriert das Bild */
    border-bottom: 1px solid #ddd;
}

.jobHoverInfo {
    padding: 1rem;
    text-align: left;
}

.jobShortDesc {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #666;
}

.jobShortDesc a {
    color: var(--red-primary);
    text-decoration: underline;
    cursor: pointer;
}

.jobName {
    font-family: var(--font-berlin-type-bold), sans-serif;
    font-size: 1.2rem;
    margin: 1rem;
    cursor: pointer;
}

.imageContainer {
    color: cyan; /* Set the desired SVG color */
}

.customSvg {
    width: 155px; /* Adjust size */
    height: 155px; /* Keep aspect ratio */
}

